<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : config.xml
    Created on : June 11, 2012, 7:38 PM
    Author     : rwincewicz
    Description:
        Configuration file for php-based listeners.
-->

<config>
    
    <listeners>
        <!-- Choose the number of child processes you want to spawn. 
             A rough estimate is you'll get a load average which is 
             1.5 times the number of child processes (eg. load average 
             of 12 for 8 child processes -->
        <child_processes>2</child_processes>    
    </listeners>
    
    <fedora>
        <!-- These are the details for your Fedora server. You should
             make sure that the firewall rules allow the listeners to
             contact the Fedora server and set up any XACML policies 
             to allow write access from the listener IP address -->
        <host>192.168.200.140</host>
        <port>8080</port>
        <username>fedoraAdmin</username>
        <password>fedoraAdmin</password>
    </fedora>
    
    <stomp>
        <!-- These are the details for the JMS broker. Usually the host
             will be the same as the Fedora server. If the Stomp port on
             the JMS broker has been set up as in the installation 
             instructions then you'll connect on port 61613 and use the
             /queue/listener.update channel -->
        <host>192.168.200.140</host>
        <port>61613</port>
        <channel>/queue/listener.update</channel>
    </stomp>
    
    <derivatives>
        <!-- 
          In this section you can specify as many object elements as you
          want. Each of these defines a set of rules that are used to filter
          each message from the JMS broker and decide what actions, if any, 
          should be triggered. If you don't specify a value for a particular
          filter then all of the messages will pass through that filter. 
        -->  
        <object>
            <!-- Filter on method (http://www.fedora-commons.org/documentation/3.0/userdocs/server/webservices/apim/index.html) -->
            <method>addDatastream</method>
            <method>addRelationship</method>
            <method>modifyObject</method>
            <method>modifyDatastreamByReference</method>
            <method>modifyDatastreamByValue</method>
            <method>ingest</method>
            <method></method>
            <basexdb_server_url>localhost</basexdb_server_url>
            <basexdb_server_port>1984</basexdb_server_port>
            <basexdb_username></basexdb_username>
            <basexdb_password></basexdb_password>
            <basexdb_dbname></basexdb_dbname>                               
            <derivative>
              <!-- path to file - https://github.com/cwrc/islandora_cwrc_basexdb/tree/master/includes -->
              <include_file>xmldb_basex.inc</include_file>
              <!-- path to file - https://github.com/BaseXdb/basex/blob/master/basex-api/src/main/php/BaseXClient.php -->
              <include_file>BaseXclient.php</include_file>
              <class>xmldb_basex</class>
              <classMethod>basexdb_add_content</classMethod>
            </derivative>
             
        </object>

    </derivatives>
    
    <log>
        <!-- Specify the file name of the log file. -->
        <file>listener.log</file>
    </log>

</config>
